.listItemClass {
  color: #454545;
  font-size: 30px;
  padding: 0px;
}
.listItemClass li {
  z-index: -1;
  position: relative;
  list-style: none;
  border-bottom: 11px solid #EFF6FF;
  text-indent: 400px;
  height: 70px;
  padding: 25px;
}
.first-verticalLine {
  position: absolute;
  width: 0px;
  top: 800px;
  height: 1080px;
  margin-left: 200px;
  border-left: 3px solid #BED9FF;
  opacity: 1;
}
.other-verticalLine {
  position: absolute;
  width: 0px;
  top: 0px;
  height: 1080px;
  margin-left: 200px;
  border-left: 3px solid #BED9FF;
  opacity: 1;
}
.circle {
  position:absolute;
  width: 65px;
  height: 65px;
  margin-left: 70px;
  margin-top: 190px;
  border-radius: 50%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #9EAFD0;
  opacity: 1;
}
hr {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
